/* GLOBAL settings, COLORS AND FONTSTYLE */
:root {
    /*Hero and Footer*/
    --dark-bg-color: #1f2937;

    /*Hero Main text*/
    --hero-main-font-size: 48px;
    --hero-main-font-weight: 900;
    --hero-main-color: #f9faf8;

    /*Hero secondary text, header link text*/
    --hero-secondary-font-size: 18px;
    --hero-secondary-font-color: #e5e7eb;

    /*Header logo text*/
    --hero-logo-font-size: 24px;

    /*Button color, call to action background-color*/
    --call-to-action-bg-color: #3882f6;

    /*Secondary section variables*/
    --info-header-font-size: 36px;
    --info-header-font-weight: 900;
    --info-header-color: #1f2937;
    --info-p-color: #2c343e;

    /*Quote section*/
    --quote-bg-color: #e5e7eb;
    --quote-font-size: 42px;
    --quote-font-style: italic;
    --quote-font-weight: 100;
    --quote-font-color: #1f2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 1rem;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

/*----------------Navbar style------------------*/
nav {
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
}

nav h1 a {
    color: var(--hero-main-color);
    font-size: var(--hero-logo-font-size);
    text-decoration: none;
}

nav h1 a:hover {
    text-shadow: 0 0 2px var(--call-to-action-bg-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: var(--hero-secondary-font-color);
    font-size: var(--hero-secondary-font-size);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--hero-main-color);
    text-shadow: 0 0 1px var(--hero-main-color);
}
/*----------------------------------------------*/

/*----------------Hero Section------------------*/
.first-section {
    background-color: var(--dark-bg-color);
    color: var(--hero-main-color);
}

.first-section h1 {
    font-weight: var(--hero-main-font-weight);
    font-size: var(--hero-main-font-size);
}

.first-section p {
    color: var(--hero-secondary-font-color);
    font-size: var(--hero-secondary-font-size);
    margin-bottom: 2rem;
}

.sign-up-button {
    background-color: var(--call-to-action-bg-color);
    color: var(--hero-main-color);
    font-weight: var(--hero-main-font-weight);
    font-size: var(--hero-secondary-font-size);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--call-to-action-bg-color);
    width: 9rem;
}

.sign-up-button:hover {
    box-shadow: 0 0 5px var(--hero-main-color);
    cursor: pointer;
}

#main-section-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*----------------------------------------------*/


/*---------------Info Section------------------*/
.second-section h2 {
    color: var(--info-header-color);
    font-weight: var(--info-header-font-weight);
    font-size: var(--info-header-font-size);
    text-align: center;
    align-self: center;
}

.second-section .random-info-container {
    align-self: flex-start;
}

.second-section p {
    font-size: var(--hero-secondary-font-size);
    color: var(--info-p-color);
    text-align: center;
}

.second-section .img-secondary {
    width: 100%;
    border: 2px solid var(--call-to-action-bg-color);
    border-radius: 10px;
}
/*----------------------------------------------*/


/*---------------Quote Section------------------*/
.quote-section {
    color: var(--quote-font-color);
    background-color: var(--quote-bg-color);
    font-size: var(--quote-font-size);
    font-style: var(--quote-font-style);
    font-weight: var(--quote-font-weight);
    gap: 2rem;
    height: 25rem;
}

.quote-section .quote {
    text-align: center;
    align-self: flex-end;
}

.quote-section .quote-author {
    text-align: right;
    align-self: flex-start;
    color: var(--quote-font-color);
    font-size: var(--hero-logo-font-size);
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
}
/*----------------------------------------------*/


/*---------------Sign up Section------------------*/
.sign-up-section {
    height: 20rem;
}

.blue-container {
    background-color: var(--call-to-action-bg-color);
    height: 10rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.blue-container h3 {
    color: var(--hero-main-color);
    font-size: var(--hero-logo-font-size);
}

.blue-container p {
    color: var(--hero-secondary-font-color);
    font-size: var(--hero-secondary-font-size);
}

#sign-up-button-f {
    border: 1px solid var(--hero-main-color);
}

/*----------------------------------------------*/


/*---------------Footer Section------------------*/
footer {
    height: 6rem;
    position: absolute;
    bottom: 100;
    background-color: var(--dark-bg-color);
    color: var(--hero-main-color);
    font-size: var(--hero-secondary-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer a {
    color: var(--call-to-action-bg-color);
    text-decoration: none;
}

footer a:hover {
    text-shadow: 0 0 1px var(--hero-main-color);
}

/*----------------------------------------------*/